<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .image-upload > input {
        visibility:hidden;
        width:0;
        height:0
    }
</style>
<body>
<table width="100%" style="width:100%;vertical-align: text-top;text-align: left;">
    <tr>
        <td>
            <h1>Cluster Bench</h1>

            {#            <h2>Liens prédéfinis:</h2>#}
            {#            <a href="./algo/hdbscan/PourClustering.csv/min_cluster_size=3/modele.html?pca=1">HDBSCAN rapide</a><br>#}
            {#            <a href="./algo/hac/PourClustering.csv/n_clusters=11,12,13/modele.html?pca=4">HAC pour une douzaine de clusters</a><br>#}
            {#            <a href="./algo/meanshift/PourClustering.csv/bandwidth=0.1,0.3,0.2/modele.html?pca=3">Meanshif</a><br>#}
            {#            <a href="./algo/hdbscan/PourClustering.csv/min_cluster_size=5,6,7,8&alpha=0.1,0.3,0.5,0.9/modele.html?pca=4">Combinaisons HDBSCAN</a><br>#}
            {#            <a href="./algo/neuralgas/PourClustering.csv/passes=3&distance_toremove_edge=40/modele.html?pca=4">Neural rapide</a><br>#}
            {#            <a href="./algo/neuralgas/PourClustering.csv/passes=15&distance_toremove_edge=40/modele.html?pca=4">Neural 15 passes (long)</a><br>#}
            {#            <br>#}
            {#            <br>#}

            Le fichier de données doit être au format Excel (recommandé) ou CSV avec le ";" en séparateur<br>
            Le séparateur de décimal doit être la ","<br>
            <br>
            La première colonne doit contenir les libellés des mesures et toutes les<br>
            colonnes suivantes sont interpretées comme les mesures<br>

            <br>
            <br>Commandes sur la visu 3d:<br>
            - <strong>'h'</strong> et SHIFT+'h' respectivement cache / montre toutes les mesures<br>
            - <strong>'m'</strong> et SHIFT+'m' opere un filtre sur les mesures pour les montrer / cacher<br>
            - <strong>'c'</strong> et SHIFT+'c' opere un filtre sur les clusters pour les montrer / cacher<br>
            - <strong>'r'</strong> supprime définitivement le bruit (permet d'accéler la navigation)<br>
            - <strong>'k'</strong> connecte entre elles les mesures du même nom<br>
            - click et SHIFT+click montre / cache le cluster d'appartenance de la mesure<br>
            - ALT+click permet grossis / réduit les mesures du même nom<br>
            - click droit permet d'enregistrer la visu en format image
            <br>

            <table style="padding: 10px;margin:10px;">
                <tr>
                    <td>Algo</td>
                    <td>
                        <select id="algo" onchange="showParameters()">
                            <option value="HDBSCAN::min_samples=1,2,3,4,5,6 min_cluster_size=2,3,4,5,6,7,8 alpha=0.5::https://hdbscan.readthedocs.io/en/latest/parameter_selection.html#">HDBSCAN</option>
                            <option value="NEURALGAS::passes=3 distance_toremove_edge=40::https://en.wikipedia.org/wiki/Neural_gas">NEURALGAS</option>
                            <option value="HAC::n_clusters=11,12,13::http://scikit-learn.org/stable/modules/generated/sklearn.cluster.AgglomerativeClustering.html">HAC</option>
                            <option value="MEANSHIFT::bandwidth=0.1,0.3,0.2::http://scikit-learn.org/stable/modules/generated/sklearn.cluster.MeanShift.html">MEANSHIFT</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Parametres</td>
                    <td>
                        <textarea   rows="5"
                                    cols="60"
                                    id="params"
                                    onchange="showlink()" onkeyup="showlink()"
                        >
                            min_samples=1<br>
                            min_cluster_size=3<br>
                            alpha=0.5
                        </textarea>
                    </td>
                </tr>

                <tr><td><br></td></tr>

                <tr>
                    <td>Choose files on server</td>
                    <td>
                        {{ list_file|safe }}

                        &nbsp;or Upload new file&nbsp;

                        <div style="display: inline" class="image-upload">
                            <label for="file">
                                <img style="width:15px;padding:0px;" src="https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/256/MS_Office_Upload_Center.png"/>
                            </label>

                            <input title="Upload" type="file" id="file" name="file" onchange="postFile()">
                        </div>



                    </td>
                </tr>



                <tr>
                    <td>URL data source</td>
                    <td>
                        <input
                                size="60"
                                value="http://f80.fr/cnrs/datas/PourClustering.xlsx"
                                id="url"
                                type="url"
                                onkeyup="showlink()"
                        >
                    </td>
                    <td>
                        <button id="cmdVerify" onclick="testDownload()">Vérifier</button>
                    </td>
                </tr>

                <tr><td><br></td></tr>

                <tr>
                    <td>Nombre de vues</td>
                    <td>
                        <input size="60"
                               value="1" id="pca" type="number"
                               min="0" max="6"
                               onchange="showlink()"
                        >
                    </td>
                </tr>

                <tr>
                    <td>Notification de fin de traitement</td>
                    <td>
                        <input size="60" value="" id="email" type="email" onchange="showlink()">
                    </td>
                </tr>

                <tr>
                    <td>Simultaneous jobs</td>
                    <td>
                        <input value="3" id="jobs" type="number" min="1" max="10" onchange="showlink()">
                    </td>
                </tr>

                <tr>
                    <td>
                        <button onclick="showlink()" style="font-size: x-large">Build</button>
                    </td>
                    <td>
                        <button onclick="openlink()" style="font-size: x-large">Open</button>
                    </td>
                    <td>
                        <button onclick="runAll()" style="font-size: x-large">Parallel</button>
                        <br>
                        <div id="nTreatments">0 running</div>
                    </td>
                </tr>

            </table>
            <br>


        </td>
        <td width="50%" style="vertical-align: top;">
            <iframe width="100%" height="600px;" id="doc" name="out"></iframe>
        </td>
    </tr>
</table>

<br>
<div id="result" style="width:100%;text-align:center;font-size: large;"></div>

<script>
    function cutParams(params){

        var ps={};
        var keys=[];
        params.split("&").forEach(param=>{
            keys.push(param.split("=")[0]);
            ps[param.split("=")[0]]=param.split("=")[1].split(",");
        });

        keys.push("sup");
        keys.push("sup2");
        keys.push("sup3");
        ps["sup"]=[0];
        ps["sup2"]=[0];
        ps["sup3"]=[0];

        let l_p=[];

        for(var i=0;i<ps[keys[0]].length;i++)
            for(var j=0;j<ps[keys[1]].length;j++)
                for(var k=0;k<ps[keys[2]].length;k++)
                    for(var l=0;l<ps[keys[3]].length;l++){
                        c1=ps[keys[0]][i];
                        c2=ps[keys[1]][j];
                        c3=ps[keys[2]][k];
                        c4=ps[keys[3]][l];

                        var obj={};
                        obj[keys[0]]=c1;
                        if(c2!=null)obj[keys[1]]=c2;
                        if(c3!=null)obj[keys[2]]=c3;
                        if(c4!=null)obj[keys[3]]=c4;

                        l_p.push(obj);
                    }

        var rc=[];
        l_p.forEach((val)=>{
            var s="";
            for(var p in val)
                s=s+p+"="+val[p]+"&";
            rc.push(s.substr(0,s.length-1));
        });

        return rc;
    }

    function showlink(multiple=false){
        var file=encodeURIComponent(document.getElementById("url").value)
        var algo=document.getElementById("algo").value.split(":")[0];
        var notif=document.getElementById("email").value;
        var pca=document.getElementById("pca").value;
        var params=document.getElementById("params").value;
        for(var i=0;i<10;i++)params=params.replace("\n"," ").replace("<br>"," ");
        for(var i=0;i<10;i++)params=params.replace("  "," ");
        for(var i=0;i<10;i++)params=params.replace(" ","&");

        var domain=document.location.host;

        if(!multiple){
            url="http://"+domain+"/algo/"+algo+"/"
                +file+"/"+params+"/modele.html?pca="+pca+"&notif="+notif;
            document.getElementById("result").innerHTML="<a target=_blank href='"+url+"'>"+url+"</a>";
            return url;
        } else {
            urls=[];
            cutParams(params).forEach((p)=>{
                url="http://"+domain+"/algo/"+algo+"/"+file+"/"+p+"/modele.html?pca="+pca+"&notif="+notif;
                urls.push(url);
            });
            return urls;
        }

    }

    function showParameters(){
        var algo=document.getElementById("algo").value.split("::")[0];
        var params=document.getElementById("algo").value.split("::")[1];
        document.getElementById("doc").src=document.getElementById("algo").value.split("::")[2];
        for(var i=0;i<10;i++)params=params.replace(" ","\n");

        document.getElementById("params").value=params;
        if(algo=="NEURALGAS" && document.getElementById("email").value=="")
            document.getElementById("email").value="dev@f80.fr";

        showlink();
    }

    function testDownload(){
        var file=document.getElementById("url").value;
        if(file.indexOf("http")!=0)
            file="http://45.77.160.220:5000/datas/"+file;

        window.open(file,"blank_");
    }

    function postFile(){
        file=document.getElementById("file").files[0];
        var formData = new FormData();
        formData.append('file', file);
        document.getElementById("cmdVerify").style.visibility="hidden";

        fetch("/upload",{method:"post",body:formData})
            .then(response => {
                return response.json();
            })
            .then(r => {
                document.getElementById("url").value=r.url;
                showlink();
            });
    }




    function runAll(){
        var max_jobs=Number(document.getElementById("jobs").value);
        var urls=showlink(true);
        var waiting="&nbsp;<img src='https://mir-s3-cdn-cf.behance.net/project_modules/disp/ab79a231234507.564a1d23814ef.gif' style='width:25px'>"
        document.getElementById("nTreatments").innerHTML=urls.length+" running"+waiting;
        var i=0;
        var n_jobs=0;

        handle=setInterval(()=>{
            if(n_jobs<max_jobs) {
                n_jobs++;
                console.log("On lance un nouveau job."+n_jobs+" en cours");
                fetch(url + "&nometric").then((res) => {return res;}).then((res) => {
                    console.log("Fin d'un job");
                    i++;
                    n_jobs--;
                    document.getElementById("nTreatments").innerHTML = (urls.length - i) + " treatments" + waiting;

                    if (i == urls.length) {
                        clearInterval(handle);
                        openlink();
                        document.getElementById("nTreatments").innerHTML = "treatment ended";
                    }
                }).catch(function() {
                    console.log("error");
                });;
            }
        },100);


    }

    function openlink(){
        window.open("./static/wait.html?mail="+document.getElementById("email").value,"out");
        setTimeout(()=>{
            window.open(
                showlink(),"out");
        },500);
    }

    document.getElementById("lst_files").addEventListener("change",(evt)=>{
        document.getElementById("url").value=evt.currentTarget.value;
    });

    setTimeout(()=>{
        document.getElementById("url").value=document.getElementById("lst_files").value;
        showParameters();
        showlink();
    },1500);
</script>
</body>
</html>