{#Utilisé pour le rendu de chaque modele algo#}
<style>
    table, th, td {
        border: 1px solid lightgray;
        padding: 0px;
        margin:0px;

}
</style>
<h3>{{title}}</h3>
<iframe
        style="border-style: none;margin:0px;"
        id="{{name_zone}}" src={{ url_to_render|safe }}
        width="100%" height="900px">
</iframe>

<script>
    setTimeout(()=>{
        document.getElementById("{{name_zone|safe}}").contentWindow.postMessage({
                title:"{{title|safe}}",
                datas:{{datas|safe}},
                data_source:{{data_source|safe}},
                facets:{{facets|safe}},
                facets_ref:{{facets_ref|safe}}
            },
            "*");
    },2000);
    //document.getElementById("cluster_list").innerHTML="{{cluster_list|safe}}";
</script>
